@import '../../styles/variables.scss';

.content {
    display: flex;
    border-radius: 56px;
    background: $main-gradient;
    width: 100%;
    min-height: 100%;
}

.icon {
    color: $white;
    font-size: 32px;
}

.content {
    flex: 1 1 auto;
}