@import '../../styles/variables.scss';

.cell {
    border: 1.5px solid $card_extra;
    transition: .3s;

    &__input {
        width: 100%;
        height: 30px;
        border: 1px solid $text_dark;
        padding: 0px 5px;
    }

    &_changed {
        padding: 5px 0px !important;
    }

    &:not(:first-child) {
        padding: 22px 0px 22px 17px;
    }

    &:first-child {
        text-align: center;
    }
}