@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import './fonts.scss';
@import './zero.scss';
@import './variables.scss';

body {
  font-family: $proxima;
  color: $text;
  background-color: #F5F5F5;
  font-size: 1rem;
}

#root {
  width: 100%;
  height: 100%;
}