/////////////////// ШРИФТЫ ///////////////////
$proxima: 'Proxima Nova';
$ibm: 'IBM Plex Sans', sans-serif;
/////////////////////////////////////////////

/////////////////// ЦВЕТА ///////////////////
$primary: #54D3C2;
$error: #FC5C65;
$text: #6D7986;
$text_dark: #323F47;
$text_light: #D2D1D1;
$white: #FFFFFF;
$main-gradient: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
$navlink_active: rgba(169, 233, 224, 0.75);
/////////////////////////////////////////////