@import '../../styles/variables.scss';

.account {
    flex: 0 1 361px;
    display: flex;
    align-items: center;
}

.photo {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 23px;

    img {
        width: 56px;
        object-fit: cover;
    }
}

.description {
    flex: 0 0 180px;
    margin-right: 20px;
}

.title {
    font-weight: 700;
    color: $text_dark;
}

.subtitle {
    font-size: 0.875rem;
}

.arrow_bottom {
    background-color: transparent;
    margin-left: auto;
}