.navbar {
    flex: 0 0 127px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 32px;
}

.logo {
    margin-bottom: 85px;
}

.navbarList {
    display: flex;
    flex-direction: column;
    align-items: center;
}